/* _content/Site/Components/Layout/AIChat.razor.rz.scp.css */
.user-message[b-4ma8p0hkjm] {
  background-color: blueviolet;
}

.ai-message[b-4ma8p0hkjm] {
  background-color: red;
}
/* _content/Site/Components/Layout/MainLayout.razor.rz.scp.css */
main[b-izt6un4l4f] {
  flex: 1;
}

#blazor-error-ui[b-izt6un4l4f] {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss[b-izt6un4l4f] {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
/* _content/Site/Components/Layout/NavMenu.razor.rz.scp.css */
.nav-background[b-8md1k9y6ic] {
  background-color: #76A923;
}
