/* _content/Site/Components/Layout/MainLayout.razor.rz.scp.css */
main[b-izt6un4l4f] {
  flex: 1;
}

.center[b-izt6un4l4f] {
  display: flex;
  justify-content: center;
}

#blazor-error-ui[b-izt6un4l4f] {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss[b-izt6un4l4f] {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
/* _content/Site/Components/Layout/NavMenu.razor.rz.scp.css */
.brand-color[b-8md1k9y6ic] {
  color: black;
}

.nav-background[b-8md1k9y6ic] {
  background-image: linear-gradient(to right, #368727, #006044);
}

.nav-spacing[b-8md1k9y6ic] {
  margin: 10px;
}

.center[b-8md1k9y6ic] {
  display: flex;
  justify-content: center;
}

.nav-item[b-8md1k9y6ic] {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item[b-8md1k9y6ic]  a {
  color: black;
  padding: 10px;
}

.nav-item[b-8md1k9y6ic]  a.active {
  color: white;
  background-color: darkgreen;
}

.nav-item[b-8md1k9y6ic]  a:hover {
  background-color: lightgreen;
}

.bi[b-8md1k9y6ic] {
  display: inline-block;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  vertical-align: middle;
  top: -1px;
  background-size: cover;
}

.bi-house-door-fill-nav-menu[b-8md1k9y6ic] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-8md1k9y6ic] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-8md1k9y6ic] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

@media (min-width: 641px) {
  .navbar-toggler[b-8md1k9y6ic] {
    display: none;
  }

  .collapse[b-8md1k9y6ic] {
    display: block;
  }

  .nav-scrollable[b-8md1k9y6ic] {
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}
/* _content/Site/Components/Models/AIChat.razor.rz.scp.css */
.message-container[b-9yfspxm82b] {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.user-message[b-9yfspxm82b] {
  background-color: lightgreen;
  align-self: flex-end;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  max-width: 70%;
  display: inline-block;
}

.ai-message[b-9yfspxm82b] {
  background-color: greenyellow;
  align-self: flex-start;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  max-width: 70%;
  display: inline-block;
}

.right[b-9yfspxm82b] {
  display: flex;
  justify-content: right;
}

.send-button[b-9yfspxm82b] {
  background-color: #368727;
  /* Example blue color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button:hover[b-9yfspxm82b] {
  background-color: #006044;
  /* Darker blue on hover */
}

.send-button svg[b-9yfspxm82b] {
  fill: white;
  /* Ensure the SVG is white */
}
/* _content/Site/Components/Models/FoldingSection.razor.rz.scp.css */
.folding-section[b-0pdsdulz7f] {
  border: 2px solid #64b5f6;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.folding-section .header[b-0pdsdulz7f] {
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folding-section .header .title[b-0pdsdulz7f] {
  font-weight: bold;
}

.folding-section .content[b-0pdsdulz7f] {
  padding: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.folding-section .content.expanded[b-0pdsdulz7f] {
  /* Corrected: Set max-height to a large value, but not fixed to a pixel number. */
  max-height: 1000px;
  /* Or a larger value that will accommodate most content */
  transition: max-height 0.3s ease-in;
}

.folding-section .icon[b-0pdsdulz7f] {
  font-size: 1.2em;
}
/* _content/Site/Components/Models/Room.razor.rz.scp.css */
