@rendermode InteractiveServer

<div>
  <div>
    @foreach (var message in Messages) {
      <div>@message</div>
    }
  </div>
  <div>
    <input type="text" @bind="CurrentInput" />
    <button @onclick="SendMessage">@Send</button>
  </div>
</div>

@code {
  private string CurrentInput { get; set; } = "";
  private string Send { get; set; } = "Send";
  private List<string> Messages { get; set; } = new List<string>();

  private void SendMessage() {
    if (!string.IsNullOrWhiteSpace(CurrentInput)) {
      Messages.Add(CurrentInput);
      CurrentInput = "";
    }
  }
}

