@inherits LayoutComponentBase
@layout MainLayout

<div class="learning-layout">
    <header class="learning-header">
        Learning Page Header
    </header>

    <div class="learning-content-area">
        <main class="learning-main-content">
          @Body
        </main>
    </div>
</div>

