<nav>
    <NavLink href="" Match="NavLinkMatch.All">
      <span aria-hidden="true"></span> Home
    </NavLink>
    <NavLink href="counter">
      <span aria-hidden="true"></span> Counter
    </NavLink>
    <NavLink href="weather">
      <span aria-hidden="true"></span> Weather
    </NavLink>
    <NavLink href="learningroom">
      <span aria-hidden="true"></span> Learning Room
    </NavLink>

</nav>
