<nav class="navbar navbar-expand-lg nav-background">
    <a class="navbar-brand brand-color nav-spacing" href="#">FidHackMe</a>
    <NavLink href="">
      <span class="nav-item nav-spacing bi bi-house-door-fill-nav-menu", aria-hidden="true"></span> Learn
    </NavLink>
    <NavLink href="learningroom">
      <span class="nav-item nav-spacing bi bi-airplane-engines-fill" aria-hidden="true"></span> Test AI Room
    </NavLink>
</nav>
