<nav class="navbar navbar-expand-lg navbar-light nav-background">
    <a class="navbar-brand" href="#">FidHackMe</a>
    <NavLink href="">
      <span class="nav-item", aria-hidden="true"></span> Home
    </NavLink>
    <NavLink href="learningroom">
      <span class="nav-item" aria-hidden="true"></span> Test AI Room
    </NavLink>
</nav>
