<nav>
    <NavLink href="" Match="NavLinkMatch.All">
      <span aria-hidden="true"></span> Home
    </NavLink>
    <NavLink href="counter">
      <span aria-hidden="true"></span> Test1
    </NavLink>
    <NavLink href="weather">
      <span aria-hidden="true"></span> Test2
    </NavLink>
    <NavLink href="learningroom">
      <span aria-hidden="true"></span> Test AI Room
    </NavLink>
</nav>
