.user-message[b-9yfspxm82b] {
  background-color: lightcyan;
  justify-self: right;
}

.ai-message[b-9yfspxm82b] {
  background-color: lightgreen;
  justify-self: left;
}

.right[b-9yfspxm82b] {
  display: flex;
  justify-content: right;
}
