.folding-section[b-0pdsdulz7f] {
  border: 2px solid #64b5f6;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.folding-section .header[b-0pdsdulz7f] {
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folding-section .header .title[b-0pdsdulz7f] {
  font-weight: bold;
}

.folding-section .content[b-0pdsdulz7f] {
  padding: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.folding-section .content.expanded[b-0pdsdulz7f] {
  /* Corrected: Set max-height to a large value, but not fixed to a pixel number. */
  max-height: 1000px;
  /* Or a larger value that will accommodate most content */
  transition: max-height 0.3s ease-in;
}

.folding-section .icon[b-0pdsdulz7f] {
  font-size: 1.2em;
}
