@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<FoldingSection Title="Introduction">
  <p>This is a folding section</p>
</FoldingSection>

<FoldingSection Title="Task 1">
  <ol>
    <li>Something</li>
  </ol>
</FoldingSection>
