@* NavMenu.razor *@
<nav class="navbar">
  <ul class="navbar-menu">
    <li class="navbar-item"><a href="#home">Home</a></li>
    <li class="navbar-item"><a href="#learning-rooms">Learning</a></li>
  </ul>
</nav>
