/* _content/AI_Guided_SOC_Scenarios/Components/Layout/LearningRoomLayout.razor.rz.scp.css */
/* _content/AI_Guided_SOC_Scenarios/Components/Layout/MainLayout.razor.rz.scp.css */
.background[b-ww7dg01lhd] {
  background-image: url("/images/Background.webp");
  background-size: 100% auto;
}

#blazor-error-ui[b-ww7dg01lhd] {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss[b-ww7dg01lhd] {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
/* _content/AI_Guided_SOC_Scenarios/Components/Layout/NavMenu.razor.rz.scp.css */
/* NavMenu.razor.css */
.navbar[b-rewvzcdn75] {
  width: 100%;
  background-color: #008751;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 9999;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-menu[b-rewvzcdn75] {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item[b-rewvzcdn75] {
  display: inline;
}

.navbar-item a[b-rewvzcdn75] {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: 300;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-item a:hover[b-rewvzcdn75] {
  background-color: #00A859;
  border-radius: 10px 10px 10px 10px;
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar-menu[b-rewvzcdn75] {
    flex-direction: column;
    align-items: center;
  }

  .navbar-item[b-rewvzcdn75] {
    width: 100%;
    text-align: center;
  }
}
