/* _content/AI_Guided_SOC_Scenarios/Components/Layout/LearningRoomLayout.razor.rz.scp.css */
/* _content/AI_Guided_SOC_Scenarios/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-ww7dg01lhd] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-ww7dg01lhd] {
  flex: 1;
}

.background[b-ww7dg01lhd] {
  background-image: url("/images/Background.webp");
}

.top-row[b-ww7dg01lhd] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-ww7dg01lhd]  a,
.top-row[b-ww7dg01lhd]  .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row[b-ww7dg01lhd]  a:hover,
.top-row[b-ww7dg01lhd]  .btn-link:hover {
  text-decoration: underline;
}

.top-row[b-ww7dg01lhd]  a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row[b-ww7dg01lhd] {
    justify-content: space-between;
  }

  .top-row[b-ww7dg01lhd]  a,
  .top-row[b-ww7dg01lhd]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-ww7dg01lhd] {
    flex-direction: row;
  }

  .sidebar[b-ww7dg01lhd] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-ww7dg01lhd] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-ww7dg01lhd]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-ww7dg01lhd],
  article[b-ww7dg01lhd] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}

#blazor-error-ui[b-ww7dg01lhd] {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss[b-ww7dg01lhd] {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
/* _content/AI_Guided_SOC_Scenarios/Components/Layout/NavMenu.razor.rz.scp.css */
/* NavMenu.razor.css */
.navbar[b-rewvzcdn75] {
  width: 100%;
  background-color: #008751;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 9999;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-menu[b-rewvzcdn75] {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item[b-rewvzcdn75] {
  display: inline;
}

.navbar-item a[b-rewvzcdn75] {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: 300;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-item a:hover[b-rewvzcdn75] {
  background-color: #00A859;
  border-radius: 10px 10px 10px 10px;
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar-menu[b-rewvzcdn75] {
    flex-direction: column;
    align-items: center;
  }

  .navbar-item[b-rewvzcdn75] {
    width: 100%;
    text-align: center;
  }
}
