/* _content/Site/Components/Layout/MainLayout.razor.rz.scp.css */
main[b-izt6un4l4f] {
  flex: 1;
}

.center[b-izt6un4l4f] {
  display: flex;
  justify-content: center;
}

#blazor-error-ui[b-izt6un4l4f] {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss[b-izt6un4l4f] {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
/* _content/Site/Components/Layout/NavMenu.razor.rz.scp.css */
.brand-color[b-8md1k9y6ic] {
  color: black;
}

.nav-background[b-8md1k9y6ic] {
  background-image: linear-gradient(to right, #368727, #006044);
}

.nav-spacing[b-8md1k9y6ic] {
  margin: 10px;
}

.center[b-8md1k9y6ic] {
  display: flex;
  justify-content: center;
}
/* _content/Site/Components/Models/AIChat.razor.rz.scp.css */
.user-message[b-9yfspxm82b] {
  background-color: lightcyan;
  justify-self: right;
}

.ai-message[b-9yfspxm82b] {
  background-color: lightgreen;
  justify-self: left;
}

.right[b-9yfspxm82b] {
  display: flex;
  justify-content: right;
}
