.brand-color[b-8md1k9y6ic] {
  color: black;
}

.nav-background[b-8md1k9y6ic] {
  background-image: linear-gradient(to right, #368727, #006044);
}

.nav-spacing[b-8md1k9y6ic] {
  margin: 10px;
}

.center[b-8md1k9y6ic] {
  display: flex;
  justify-content: center;
}
