@page "/learning-rooms"

@* LearningRooms.razor *@
<PageTitle>Learning Room</PageTitle>
<h1>Learning Rooms</h1>

<div class="learning-section">
</div>

<div class="learning-section">
</div>

<style>
  .learning-section {
    margin-bottom: 40px;
  }
</style>
