@page "/learning-rooms"

@* LearningRooms.razor *@
<PageTitle>Learning Rooms</PageTitle>
<h1>Learning Rooms</h1>

<div class="learning-section">
    <Traditional />
</div>

<div class="learning-section">
    <AIRoom />
</div>


