@using OpenAI.Chat;
@rendermode InteractiveServer

<div class="center">
  <div>
  @if (!(Messages == null)) {
    @foreach (var message in Messages) {
      @if (message.User == "user") {
        <span class="user-message">
          <div class="user-message">@message.Message</div>
        </span>
      } else {
        <span class="ai-message">
          <div class="ai-message">@message.Message</div>
        </span>
      }
    }
  }
  </div>
  <div class="center">
    <span class="center">
      <input type="text" @onkeyup="@ChatInputKeyPress" @bind="CurrentInput" />
      <button @onclick="SendMessage">@Send</button>
    </span>
  </div>
</div>

@code {
  public struct ChatMessage {
    public ChatMessage(string user, string message) {
      User = user;
      Message = message;
    }

    public string User { get; }
    public string Message { get; }
  }

  private string CurrentInput { get; set; } = "";
  private string Send { get; set; } = "Send";
  private List<ChatMessage> Messages { get; set; } = new List<ChatMessage>();

  private string AIContext = "You are a world builder that specializes in Security scenarios for a Security Operations Center. When the user interacts with you, you will first generate a scenario and then help the user understand it. The user will start below.";

  private void SendMessage() {
    if (!string.IsNullOrWhiteSpace(CurrentInput)) {
      ChatMessage cm = new ChatMessage("user", CurrentInput);
      Messages.Add(cm);
      CurrentInput = "";
      cm = new ChatMessage("ai", "test ai message");
      Messages.Add(cm);
    }
  }

  private void ChatInputKeyPress(KeyboardEventArgs args) {
    if (args.Key == "Enter") { 
      SendMessage();
    }
  }
}

