.folding-section {
  border: 2px solid #64b5f6;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.folding-section .header {
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folding-section .header .title {
  font-weight: bold;
}

.folding-section .content {
  padding: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.folding-section .content.expanded {
  /* Corrected: Set max-height to a large value, but not fixed to a pixel number. */
  max-height: 1000px;
  /* Or a larger value that will accommodate most content */
  transition: max-height 0.3s ease-in;
}

.folding-section .icon {
  font-size: 1.2em;
}
